.custom-anchor, .custom-anchor-2 {
    text-decoration: underline;
    cursor: pointer;
}
.custom-anchor {
    color: #fce4ec;
}
.custom-anchor-2 {
    color: #1790f3;
}
.custom-anchor:hover, .custom-anchor-2:hover {
    font-weight: 500;
}
