<div *ngIf="messages && messages.length">
  <div class="columns is-centered">
    <div class="column">
      <span class="custom-anchor-2 is-pulled-right" (click)="setShowCreateMessage(true)">
        Add new message
      </span>
    </div>
  </div>

  <div class="columns is-multiline">
    <div *ngFor="let msg of messages" class="column is-6">
      <div class="box">
        <button class="delete is-pulled-right" (click)="deleteMessage(msg.id)"></button>
        <article class="media">
          <div class="media-content">
            <div class="content">
              <p>{{msg.text}}</p>
            </div>
          </div>
        </article>
        <div class="is-pulled-right">
          <span class="icon is-small modally" (click)="setShowEditMessage(true, msg)">
            <fa-icon [icon]="faEdit"></fa-icon>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="messages && !messages.length" class="columns is-centered">
  <div class="column is-half">
    <div class="notification is-danger">
      This author has no messages!
      <span class="custom-anchor" (click)="setShowCreateMessage(true)">Create</span>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
      <div class="select">
        <select (change)="changePageSize($event.target.value)" [(value)]="pageSize">
          <option>5</option>
          <option>10</option>
          <option>20</option>
          <option>50</option>
        </select>
      </div>
      <ul class="pagination-list">
        <li class="pagination-link" *ngFor="let page of pages" (click)="changeCurrentPage(page)"
          [class.is-current]="page==this.currentPage">
          {{page}}
        </li>
      </ul>
    </nav>
  </div>
</div>

<div *ngIf="authorId">
  <div class="modal" [class.is-active]="showCreateMessage">
    <div class="modal-background"></div>
    <app-create-message [authorId]="authorId" (hideDisplay)="setShowCreateMessage($event)"
      (savedMessage)="reload($event)">
    </app-create-message>
    <button class="modal-close is-large" aria-label="close" (click)="setShowCreateMessage(false)"></button>
  </div>
</div>

<div *ngIf="message">
  <div class="modal" [class.is-active]="showEditMessage">
    <div class="modal-background"></div>
    <app-edit-message [message]="message" (hideDisplay)="setShowEditMessage($event)" (updatedMessage)="reload($event)">
    </app-edit-message>
    <button class="modal-close is-large" aria-label="close" (click)="setShowEditMessage(false)"></button>
  </div>
</div>
