<div class="modal-card">
  <header class="modal-card-head">
    <p class="modal-card-title">{{selectedAuthor.username}}</p>
    <button class="delete" aria-label="close" (click)="setDisplayEditAuthor(false)"></button>
  </header>
  <section class="modal-card-body">
    <form>
      <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="text" name="username" placeholder="john_doe" [(ngModel)]="author.username" [disabled]="isUpdating"/>
          <span class="icon is-small is-left">
            <fa-icon [icon]="faUser"></fa-icon>
          </span>
        </div>
      </div>
      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="text" name="email" placeholder="john@doe.com" [(ngModel)]="author.email" [disabled]="isUpdating"/>
          <span class="icon is-small is-left">
            <fa-icon [icon]="faEmail"></fa-icon>
          </span>
        </div>
      </div>
    </form>
  </section>
  <footer class="modal-card-foot">
    <button class="button is-success" [class.is-loading]="isUpdating" (click)="updateAuthor()">
      Update
    </button>
    <button class="button" (click)="setDisplayEditAuthor(false)">Close</button>
  </footer>
</div>
