<div *ngIf="!isLoading">
  <section class="hero-is-primary">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-four-fifths">
            <h1 class="title">{{author?.username}}</h1>
            <h1 class="subtitle">{{author?.email}}</h1>
          </div>
          <div class="column">
            <div class="buttons is-right">
              <button class="button is-link is-outlined" (click)="setShowEditAuthor(true)">
                Edit
              </button>
              <button class="button is-warning" (click)="goBack()">
                Back
              </button>
            </div>
          </div>
        </div>
        <div>
          <app-author-messages></app-author-messages>
        </div>
      </div>
    </div>
  </section>
</div>

<div *ngIf="isLoading">
  <fa-icon [icon]="faLoader" [pulse]="true" size="3x" [styles]="{'color': '#ccc'}"></fa-icon>
</div>

<div *ngIf="author && showEditAuthor" class="modal is-active">
  <div class="modal-background"></div>
  <app-edit-author [selectedAuthor]="author" (hideDisplay)="setShowEditAuthor($event)" (updatedAuthor)="reload($event)">
  </app-edit-author>
  <button class="modal-close is-large" aria-label="close" (click)="setShowAddAuthor(false)"></button>
</div>
