<div *ngIf="messages && messages.length" class="columns is-multiline">
  <div *ngFor="let msg of messages" class="column is-12">
    <div class="notification is-danger">
      <button class="delete"></button>
      {{msg.text}}
    </div>
  </div>
</div>

<div *ngIf="messages && !messages.length" class="columns">
  <div class="column">
    <p>This author has no messages!</p>
  </div>
</div>

<div class="columns">
  <div class="column">
    <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
      <div class="select">
        <select (change)="changePageSize($event.target.value)" [(value)]="pageSize">
          <option>5</option>
          <option>10</option>
          <option>20</option>
          <option>50</option>
        </select>
      </div>
      <ul class="pagination-list">
        <li class="pagination-link" *ngFor="let page of pages" (click)="changeCurrentPage(page)"
          [class.is-current]="page==this.currentPage">
          {{page}}
        </li>
      </ul>
    </nav>
  </div>
</div>
