<section class="hero-is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-four-fifths">
          <h1 class="title">
            <fa-icon [icon]="faUser"></fa-icon> Authors
          </h1>
        </div>
        <div class="column">
          <button class="button is-link is-outlined is-pulled-right" (click)="setShowAddAuthor(true)">
            Add Author
          </button>
        </div>
      </div>

      <div class="columns">
        <div class="column is-four-fifths">
          <div class="field">
            <div class="control has-icons-left" [class.is-loading]="isLoading">
              <input class="input is-rounded" type="text" placeholder="Search Author" [(ngModel)]="query.author"
                (input)="searchAuthor()" />
              <span class="icon is-small is-left">
                <fa-icon [icon]="faQ"></fa-icon>
              </span>
            </div>
            <p *ngIf="query.author.length" class="help is-danger" style="cursor: pointer; font-weight: 900"
              (click)="clearQuery()">
              Clear
            </p>
          </div>
        </div>
        <div class="column">
          <div class="is-pulled-right">
            <p class="is-small">{{paginationMsg}}</p>
          </div>
        </div>
      </div>

      <div *ngIf="isLoading">
        <fa-icon [icon]="faLoader" [pulse]="true" size="3x" [styles]="{'color': '#ccc'}"></fa-icon>
      </div>

      <div *ngIf="!isLoading">
        <div *ngIf="authors && authors.length" class="columns is-multiline">
          <div *ngFor="let author of authors" class="column is-4">
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <button class="delete is-pulled-right" (click)="deleteAuthor(author.id)"></button>
                    <p class="title is-4">{{author.username}}</p>
                    <p class="subtitle is-6">
                      <a [routerLink]="['/author', author.id]">
                        {{author.email}}
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="authors && !authors.length" class="columns">
          <div class="column">
            <p>No record found!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
      <div class="select">
        <select (change)="setPageSize($event.target.value)" [(value)]="pageSize">
          <option>5</option>
          <option>10</option>
          <option>20</option>
          <option>50</option>
        </select>
      </div>
      <ul class="pagination-list">
        <li class="pagination-link" *ngFor="let page of pages" (click)="setCurrentPage(page)"
          [class.is-current]="page==this.currentPage">
          {{page}}
        </li>
      </ul>
    </nav>
  </div>
</section>

<div class="modal" [class.is-active]="showAddAuthor">
  <div class="modal-background"></div>
  <app-add-author [show]="showAddAuthor" (hideDisplay)="setShowAddAuthor($event)" (savedAuthor)="reload($event)">
  </app-add-author>
  <button class="modal-close is-large" aria-label="close" (click)="setShowAddAuthor(false)"></button>
</div>
