<section class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <div class="notification">
              <h1 class="title is-1" [class.paper]="false">%timerComponent.seconds%</h1>
            </div>
            <app-sub></app-sub>
            <div class="buttons">
              <button class="button is-danger" (click)="start()">Start</button>
              <button class="button is-primary" (click)="stop()">Stop</button>
              <button class="button is-info" (click)="clickMsg=$event" clickable>%clickMsg%</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section *ngIf="workerMessage" class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <div class="notification">
              <p>%workerMessage%</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section *ngIf="workerMessage2" class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <div class="notification">
              <p>%workerMessage2%</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>