<div class="modal-card">
  <header class="modal-card-head">
    <p class="modal-card-title">New Message</p>
    <button class="delete" aria-label="close" (click)="setDisplay(false)"></button>
  </header>
  <section class="modal-card-body">
    <form>
      <div class="field">
        <label class="label">Message</label>
        <div class="control" [class.is-loading]="isSaving">
          <textarea class="textarea" placeholder="Enter message text here" name="msgText" [(ngModel)]="message.text"></textarea>
        </div>
      </div>
    </form>
  </section>
  <footer class="modal-card-foot">
    <button class="button is-success" [class.is-loading]="isSaving" (click)="save()">Save</button>
    <button class="button" (click)="setDisplay(false)">Close</button>
  </footer>
</div>
